<div class="col-md-12 col-sm-12">
  <div class="display">
    <div class="page-header">
      <h4>
        <div class="row">
          <div class="col-md-9 col-sm-9">
            <%=t ('.projects') %>
          </div>
          <div class="col-md-3 col-sm-3 text text-right">
            <% if can? :create, Project %>
              <%= link_to t('.new', default: t("helpers.links.new")), new_project_path, class: 'btn btn-success' %>
            <% end %>
          </div>
        </div>
      </h4>
    </div>
    <% unless current_user.projects.nil?%>
      <div class="row">
        <% current_user.projects.each do |project|%>
          <div class="col-md-12 col-sm-12">
            <%= link_to project.title, project, class: "btn btn-default btn-block" %>
          </div>
        <%end%>
      </div>
    <% end %>
  </div>
</div>
