<div class="col-md-12 col-sm-12">
  <div class="display">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4><%=t('.projects')%></h4>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <% current_user.projects.each do |project|%>
              <%= link_to project.title, project, class: "btn btn-default btn-block" %>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
