<p>
  <%= link_to t('.create_project'), new_project_path %>
</p>
<p>
  <%= link_to t('.request_holiday'), new_holiday_path %>
</p>
<p>
  <%= link_to t('.request_business_trip'), new_trip_path %>
</p>
