<%- model_class = Holiday -%>
<div class="col-md-12">
	<div class="display">
		<div class="page-header">
		  <h1>
		  	<div class="row">
		  		<div class="col-sm-9">
		  			<%=t '.title', default: [:'helpers.titles.edit', 'Edit %{model}'], model: model_class.model_name.human.titleize %>
		  		</div>
		  		<div class="col-sm-3">
		  			<%= link_to t('helpers.links.back', default: t("helpers.links.cancel")),
            holiday_path(@holiday), class: 'btn btn-default btn-xs' %>
		  		</div>
		  	</div>
		  	
		  </h1>
		</div>
		<%= render partial: 'form' %>
	</div>
</div>
