<% if current_user.is_superadmin? %>
  <div class="page-header">
    <h1><%=t 'users.show.password' %></h1>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4><%= t('users.show.password') %></h4>
    </div>
    <div class="panel-body">
      <%= render partial: 'shared/passwords' %>
    </div>
  </div>
<% end %>
