<% if false %><%= render :partial => "tasks/list", :object => @tasks %><% end %>

<% if @tasks.empty? %>
	  <li><a href="#">
	    no results<br>
	  </a></li>
<% else %>
	<% @tasks.each do |user| %>
	  <li><a><div id="myDiv" onClick="divFunction(<%= user.id %>, '<%= user.name %>')">
	    <%= user.name %><br></div>
	  </a></li>
	<% end %>
<% end %>