<% if not flash.empty? %>
  <div class="row">
    <div class="col-md-12 novertpadding">
      <div class="col-md-8">
        <%# The devise gem uses flash[:alert] for wrong password messages, leading to double display %>
        <% flash.delete(:alert) %>
        <%# https://github.com/seyhunak/twitter-bootstrap-rails#flash-helper %>
        <%= bootstrap_flash %>
      </div>
    </div>
  </div>
  <%# http://stackoverflow.com/questions/4613952/why-flash-message-wont-disappear %>
  <% flash.clear %>
<% end %>
