<% if object.errors.any? %>
  <div class="alert alert-danger alert-dismissable">
    <button aria-hidden="true" class="close" data-dismiss="alert" type="button">×</button>
    <p><strong><%= t 'activerecord.errors.template.header', model: object.model_name.human, count: object.errors.count %></strong></p>
    <!-- <p><%= object.errors.full_messages %></p> -->
  </div>
<% end %>