<script>
  var enableActionBarScroll = function () {
    var s = $("#sticker");
    var pos = s.position();
    var width = s.css("width");                    
    $(window).scroll(function() {
        var windowpos = $(window).scrollTop();
        if (windowpos >= pos.top) {
            s.addClass("action-bar-stick");
            s.css("width",width);
        } else {
            s.removeClass("action-bar-stick");
            s.css("width","");
        }
    });
  };
</script>

<style>
  .action-bar-stick {
    position:fixed;
  }
</style>

<div id="sticker" class="col-md-12">
  <div class="display">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4><%= t 'helpers.actions'%></h4>
      </div>
      <div class="panel-body">
        <%= capture(&block) %>
      </div>
    </div>
  </div>
</div>