<div class="modal fade" id="invite-colleagues-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"> Mitarbeiter einladen </h4>
      </div>
      <div class="modal-body" >
        <div class="row invite-colleague">
          <div class="col-sm-12">
            <div class="description-text">
              Bitte w채hlen Sie den einzuladenden Mitarbeiter aus
            </div>
          </div>
        </div>
        <%= form_for :invite_user, url: invite_user_project_path(@project) do |f| %>
          <div class="modal-body clearfix" >
            <div class="row invite-colleague">
              <div class="col-sm-3">
                <%= label_tag "E-Mail" %>
              </div>
              <div class="col-sm-9">
                <%= f.text_field :email %>
              </div>
            </div>
          </div>
        <% end %>
        <div class="modal-footer">
          <div class="row invite-colleague">
            <div class="col-sm-12">
              <div class="description-text">
                Ihr(e) Kollege/Kollegin wird zum Projekt hinzugef체gt und erh채lt eine entsprechende Benachrichtigung beim n채chsten Login.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>