<% i18nscope = 'time_sheets.show_footer' %>

<%= form_for @time_sheet, url: hand_in_time_sheet_path(@time_sheet), method: :get do |f| %>
  <% unless @time_sheet.signed %>
    <div class="text-center">
      <%= f.check_box :signed %>
      <%= f.label :signed, t('add_signature', scope: i18nscope) %>
    </div>
  <% end %>
  <%= f.submit t('hand_in', scope: i18nscope), class: 'btn btn-success btn-block' %>
<% end %>