<%- model_class = TimeSheet -%>
<div class="col-md-12 col-sm-12">
  <div class="display">
    <div class="page-header">
      <div class="h1">
        <% month_name = l(@time_sheet.first_day, format: :short_month_year) %>
        <%= t('helpers.titles.edit', model: model_class.model_name.human.titleize + ' ' + month_name) %>
      </div>
    </div>
    <%= render partial: 'form', locals: {readonly: false, disable_date: true} %>
  </div>
</div>

<% content_for :actions do %>
  <%= delete_button @time_sheet, class: 'btn-block', confirm: t('time_sheet.delete') %>
  <%= link_to t('helpers.links.cancel'), time_sheet_path(@time_sheet), class: 'btn btn-block btn-default' %>
<% end %>
