<%- model_class = TimeSheet -%>
<div class="col-md-12">
  <div class="display">
    <div class="page-header">
      <div class="h1">
        <%=t 'helpers.titles.new', model: model_class.model_name.human.titleize %>
      </div>
    </div>
    <%= render partial: 'form', locals: {hide_work_days: true} %>
  </div>
</div>