<div class="col-md-12">
  <div class="display">
    <div class="page-header">
      <div class="h1">
        <div class="row">
          <div class="col-sm-9">
            <%= t('.title') %>
          </div>
          <div class="col-sm-3">
            <%= link_to t('helpers.links.back'), time_sheets_path, class: 'btn btn-default btn-block'%>
          </div>
        </div>
      </div>
    </div>
    <%= render 'form', locals: {readonly: true} %>
    <%= render 'show_footer' %>
  </div>
</div>
