<%- model_class = Chair -%>
<div class="col-md-12 col-sm-12">
  <div class="display">
  <div class="page-header">
    <h1>
      Reporting
    </h1>
  </div>
    <div class="page-header">
      <h3>
        Spendings in <span id="yearspan">2017</span>: <span id="total"></span> €
        <div class="dropdown pull-right">
          <a class="btn btn-secondary btn-default dropdown-toggle" data-toggle="dropdown" href="#">Year<b class="caret"></b></a>
        
          <ul class="dropdown-menu" id="year-selection">
            <% [2015,2016,2017].each do |year| %>
              <li><a data-year=<%= year %> href="#"> <%= year%></a></li>
            <% end %>
          </ul>
        </div>

        <div class="dropdown pull-right">
          <a class="btn btn-secondary btn-default dropdown-toggle" data-toggle="dropdown" href="#">Chart Type <b class="caret"></b></a>

          <ul class="dropdown-menu" id="chart-selection">
            <li><a data-charttype="line" href="#">line</a></li>
            <li><a data-charttype="spline" href="#">spline</a></li>
            <li><a data-charttype="step" href="#">step</a></li>
            <li><a data-charttype="area" href="#">area</a></li>
            <li><a data-charttype="area-spline" href="#">area-spline</a></li>
            <li><a data-charttype="area-step" href="#">area-step</a></li>
            <li><a data-charttype="bar" href="#">bar</a></li>
            <li><a data-charttype="scatter" href="#">scatter</a></li>
            <li><a data-charttype="pie" href="#">pie</a></li>
            <li><a data-charttype="donut" href="#">donut</a></li>
            <li><a data-charttype="gauge" href="#">gauge</a></li>
          </ul>
        </div>
        
      </h3>
    </div>
    <div class="row">
      <div id="chart"></div>
    </div>

    <div class="page-header">
      <h3>Yearly spendings per Project</h3>
    </div>
    <div class="row">
      <div id="ypp"></div>
    </div>

    <div class="page-header">
      <h3>Monhtly spendings per Project 
        <div class="dropdown pull-right">
          <a class="btn btn-secondary btn-default dropdown-toggle" data-toggle="dropdown" href="#">Month<b class="caret"></b></a>
        
          <ul class="dropdown-menu" id="month-selection">
            <% (1..12).each do |month| %>
              <li><a data-month=<%= month %> href="#"> <%= month%></a></li>
            <% end %>
          </ul>
        </div>
      </h3>
    <div class="row">
      <div id="mpp"></div>
    </div>
  </div>
</div>


<script>
  function getSum(total, num) {
    return total + parseFloat(num);
  }

  var monthlyPerProjectChart;
  var monthlyPerProject;
  var yearOverviewChart;
  var yearOverviewUrl = 'reporting/data';

  $(function() {
    $.getJSON('reporting/data', function(data) {
      var total = 0;
      var projects = [];

      for(var project in data) {
        total += data[project].reduce(getSum,0);
        projects.push(project);
      }
      $("#total").text(total);

      yearOverviewChart = c3.generate({
        bindto: '#chart',
        data: {
          type: 'bar',
          json: data,
          groups: [projects]
        },
        axis: {x: 
          { 
            type: 'category',
            categories: ['Jan', 'Feb' , 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Okt', 'Nov', 'Dec'] 
          }
        },
        tooltip: {
          format: {
            value: function (value, ratio, id) {
              var formatted = value + '€';
              if(ratio != null) {
                formatted += ' (' + Math.round(ratio*100) + '%)';
              }
              return formatted;
            }
          }
        }
      });

      var yearlyPerProject = {};
      for(var project in data) {
        yearlyPerProject[project] = data[project].reduce(getSum,0);
      }

      c3.generate({
        bindto: '#ypp',
        data: {
          type: 'pie',
          json: yearlyPerProject
        },
        tooltip: {
          format: {
            value: function (value, ratio, id) {
              var formatted = value + '€';
              if(ratio != null) {
                formatted += ' (' + Math.round(ratio*100) + '%)';
              }
              return formatted;
            }
          }
        }
      });

      monthlyPerProject = {};
      for(var i = 0; i < 12; i++) {
        monthlyPerProject[i] = {};
        for(var project in data) {
          monthlyPerProject[i][project] = data[project][i];
        }
      }

      monthlyPerProjectChart = c3.generate({
        bindto: '#mpp',
        data: {
          type: 'pie',
          json: monthlyPerProject[0]
        },
        tooltip: {
          format: {
            value: function (value, ratio, id) {
              var formatted = value + '€';
              if(ratio != null) {
                formatted += ' (' + Math.round(ratio*100) + '%)';
              }
              return formatted;
            }
          }
        }
      });

    });

    $("#chart-selection>li>a").click(function(event) {
      event.preventDefault();
      var charttype = event.target.dataset.charttype;
      yearOverviewChart.transform(charttype);
    });

    $("#month-selection>li>a").click(function(event) {
      event.preventDefault();
      var month = event.target.dataset.month;
      monthlyPerProjectChart.load({json: monthlyPerProject[month-1]});
    });

    $("#year-selection>li>a").click(function(event) {
      event.preventDefault();
      var year = event.target.dataset.year;
      yearOverviewChart.load(
        {
          url: yearOverviewUrl + '?year=' + year,
          mimeType: 'json'
        }
      );
    });
  });
</script>