<%- model_class = Chair -%>
<div class="col-md-12 col-sm-12">
  <div class="display">
  <div class="page-header">
    <h1>
      Reporting
    </h1>
  </div>
    <div class="page-header">
      <h3>C3 Chart</h3>
    </div>
    <div class="row">
      <div id="chart"></div>
    </div>
  </div>
</div>


<script>
  var chart = c3.generate({
      bindto: '#chart',
      data: {
        type: 'bar',
        url: 'reporting/data',
        mimeType: 'json',
        keys: {
          x: 'project',
          // project: p, month:m, work_minutes:w.sum(&:duration_in_minutes
          value: ['work_minutes'],
        }
      },
      axis: {x: { type: 'category' }}
  });
</script>