<%- model_class = Chair -%>
<div class="col-md-12 col-sm-12">
  <div class="display">
  <div class="page-header">
    <h1>
      Reporting
    </h1>
  </div>
    <div class="page-header">
      <h3>
        C3 Chart <div class="dropdown pull-right">
          <a class="btn btn-secondary btn-default dropdown-toggle" data-toggle="dropdown" href="#">Chart Type <b class="caret"></b></a>

          <ul class="dropdown-menu">
            <li><a data-charttype="line" href="#">line</a></li>
            <li><a data-charttype="spline" href="#">spline</a></li>
            <li><a data-charttype="step" href="#">step</a></li>
            <li><a data-charttype="area" href="#">area</a></li>
            <li><a data-charttype="area-spline" href="#">area-spline</a></li>
            <li><a data-charttype="area-step" href="#">area-step</a></li>
            <li><a data-charttype="bar" href="#">bar</a></li>
            <li><a data-charttype="scatter" href="#">scatter</a></li>
            <li><a data-charttype="pie" href="#">pie</a></li>
            <li><a data-charttype="donut" href="#">donut</a></li>
            <li><a data-charttype="gauge" href="#">gauge</a></li>
          </ul>
        </div>
      </h3>
    </div>
    <div class="row">
      <div id="chart"></div>
    </div>
  </div>
</div>


<script>
  var chart = c3.generate({
      bindto: '#chart',
      data: {
        type: 'bar',
        url: 'reporting/data',
        mimeType: 'json',
        keys: {
          x: 'project',
          // project: p, month:m, work_minutes:w.sum(&:duration_in_minutes
          value: ['work_minutes'],
        }
      },
      axis: {x: { type: 'category' }}
  });

  $(function() {
    $(".dropdown-menu>li>a").click(function(event) {
      event.preventDefault();
      var charttype = event.target.dataset.charttype;
      console.log(charttype);
      chart.transform(charttype);
    });
  });
</script>