<div class="col-md-12 col-sm-12">
  <div class="display">
    <div class="page-header">
      <h3>HPI WiMi-Portal</h3>
    </div>
    <h5>Please login / Bitte loggen Sie sich ein</h5>
  </div>
</div>
