<p>
  <%=
    invitation = Invitation.find(event_project_invitation.trigger_id)
    t(
      '.full_html',
      trigger_name: link_to(
        invitation.sender.name,
        user_path(invitation.sender)),
      project_name: link_to(
        invitation.project.title,
        project_path(invitation.project)))
  %>
  <span class="text-nowrap">
    <%= link_to(t('.accept'), accept_invitation_project_path(invitation.project_id)) %>
    /
    <%= link_to(t('.decline'), decline_invitation_project_path(invitation.project_id)) %>
  </span>
</p>
