/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap/bootstrap-tooltip
 *= require devise_bootstrap_views
 *= require bootstrap-datepicker
 *= require select2
 *= require select2-bootstrap
 *= require dataTables/bootstrap/3/jquery.dataTables.bootstrap
 */


h1 span { font-size:20px; }

.checkbox label {
    margin-bottom: 10px;
}

.openID{
    height: 35px;
    width: 80px;
    margin-top: 5px;
}

.SignInButton {
    margin-top: 8px;
    margin-left: 5px;
}

html, body {
    height: 100%; /*Fixes the height to 100% of the viewport*/
}

body {
    padding-top: 50px; /*50px for the height of the navbar*/
    background-image: url("startseitehintergrund.png");
    background-attachment: fixed;
}

.container-fluid.scrollable {
    height: 100%; /*Sets the scrollable area to 100% of the viewport*/
    overflow: auto; /*Allows the scrollable area to have a scrollbar based on the height of its content*/
    background: #ccc;
}

.navbar-fixed-top {
    height:50px;
}

.navbar-shadow {
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.4);
}

.userProjectCheckbox {
    margin-left: 20px;
    margin-bottom: 15px;
}

/* Styles for anchors without a link (href) */
a:not([href]):hover {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0);
    color: black;
}

/* Add offset because the navbar covers the anchor element
   (without adding a gap in the content) */
a.anchor {
    padding-top: 90px;
    margin-top: -90px;
}

.projectCheckbox {
    margin-left: -30px;
}

.projectTitleControl {
    margin-top: 5px;
    margin-bottom: 5px;
}

.UserTable {
    margin-top: 20px;
    margin-left: -15px;

}

.dl-horizontal dt {
    width:280px;
    white-space: normal;
    margin-bottom: 5px;
}
.dl-horizontal dd {
    margin-left:300px;
}

.time-select {
    display: inline-block;
    width: 47%;
}

.col-sm-4 > .form-group > label.control-label {
    display: block;
}

.email-invite {
    width: 503px;
    margin-right: 5px;
}

.inviteBoxes {
    margin-top: 20px;
    max-height: 200px;
}

.inviteBoxesHeading {
    margin-top: 40px;
}

.submitGroup {
    margin-top: 40px;
}

.removeButton {
    width: 103.516px;
}

.inviteInput {
    margin-left: 15px;
}

.addnewUserButton {
    margin-left: 15px;
}

.link {
    color: mediumblue;
}
.buttonGroup {
    margin-top: 40px;
}

.page-body {
    margin-top: 50px;
}

.display {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
    background-color: #FFFFFF;
    padding: 15px;
}

.novertpadding {
    padding-top: 0px;
    padding-bottom: 0px;
}

.nobottompadding {
    padding-bottom: 0px;
}

.btn-eq {
    width: auto;
}

.panel-compact > .form-group > .form-control {
    width: inherit;
    height: inherit;
}

/* select2 */
.select2-container--bootstrap {
    width: inherit !important;
}

/* Highlight table rows */
tr.highlight {
    background-color: rgb(255, 245, 195) !important
}

.work_day_tr>td {
    padding: 0px !important;
    padding-left: 2px !important;
    vertical-align: middle !important;
}

.work_day_tr>td>input {
    border: none;
    box-shadow: none;
    background-color: inherit;
    color: inherit;
}

.form-error {
    background-color: red;
    color: white;
}

.panel-scroll {
    max-height: 300px;
    overflow: auto;
}

/* Styling for Bootstrap modal popovers of gem 'data-confirm-modal' */

.modal-footer {
    text-align: center;
}

.modal-footer>.btn {
    width: 49%;
}

/*!
 * DataTables + Font Awesome integration
 * License: MIT - http://datatables.net/license
 * https://datatables.net/blog/2014-06-06
 */

/*
 * Sort styling
 */
table.dataTable thead th {
    position: relative;
    background-image: none !important; /* Remove the DataTables bootstrap integration styling */
}

table.dataTable thead th.sorting:after,
table.dataTable thead th.sorting_asc:after,
table.dataTable thead th.sorting_desc:after {
    position: absolute;
    top: 12px;
    right: 8px;
    display: block;
    font-family: FontAwesome;
}

table.dataTable thead th.sorting:after {
    content: "\f0dc";
}
table.dataTable thead th.sorting_asc:after {
    content: "\f0de";
}
table.dataTable thead th.sorting_desc:after {
    content: "\f0dd";
}

div.dataTables_scrollBody table.dataTable thead th.sorting:after,
div.dataTables_scrollBody table.dataTable thead th.sorting_asc:after,
div.dataTables_scrollBody table.dataTable thead th.sorting_desc:after {
    content: "";
}

/* In Bootstrap and Foundation the padding top is a little different from the DataTables stylesheet */
table.table thead th.sorting:after,
table.table thead th.sorting_asc:after,
table.table thead th.sorting_desc:after {
    top: 8px;
}
