/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap/bootstrap-tooltip
 *= require devise_bootstrap_views
 *= require bootstrap-datepicker
 */


h1 span { font-size:20px; }

.checkbox label {
    margin-bottom: 10px;
}

.openID{
    height: 35px;
    width: 80px;
    margin-top: 5px;
}

.SignInButton {
    margin-top: 10px;
}

html, body {
    height: 100%; /*Fixes the height to 100% of the viewport*/
}
body {
    padding-top: 50px; /*50px for the height of the navbar*/
    padding-bottom: 50px; /*50px for the height of the bottom navbar*/
}

.container-fluid.scrollable {
    height: 100%; /*Sets the scrollable area to 100% of the viewport*/
    overflow: auto; /*Allows the scrollable area to have a scrollbar based on the height of its content*/
    background: #ccc;
}

.navbar-fixed-top {
    height:50px;
}

.flash-message {
    margin-top: 15px;
}

.userProjectCheckbox {
    margin-left: 20px;
    margin-bottom: 15px;
}

.projectCheckbox {
    margin-left: -30px;
}

.projectTitleControl {
    margin-top: 5px;
    margin-bottom: 5px;
}

.UserTable {
    margin-top: 20px;
    margin-left: -15px;

}

.dl-horizontal dt {
    width:280px;
    white-space: normal;
    margin-bottom: 5px;
}
.dl-horizontal dd {
    margin-left:300px;
}

.time-select {
    display: inline-block;
    width: 48%;
}

.email-invite {
    width: 503px;
    margin-right: 5px;
}

.inviteBoxes {
    margin-top: 20px;
    max-height: 200px;
}

.inviteBoxesHeading {
    margin-top: 40px;
}

.submitGroup {
    margin-top: 40px;
}

.removeButton {
    width: 123.375px;
}

.inviteInput {
    margin-left: 15px;
}

.addnewUserButton {
    margin-left: 15px;
}

.link {
    color: mediumblue;
}
.buttonGroup {
    margin-top: 40px;
}
