.pdf-document.* {
  font-size: 12.0pt;
  font-family: "Times New Roman", serif;
}

.big-headline {
  font-size: 26.0pt;
  font-weight: bold;
  text-decoration: underline;
  font-family: "Times New Roman", serif;
}

.headline {
  font-size: 20.0pt;
  font-weight: bold;
  font-family: "Times New Roman", serif;
}

.small {
  font-size: 10.0pt;
}

div.header-block {
  margin-top: 40px;
}

div.logo {
  position: absolute;
  top: 20px;
  right: 50px;
  width: 200px;
}

div.input-block {
  margin: 0cm;
  margin-bottom: 0.4cm;
}

div.input-block > span, .big {
  font-size: 14.0pt;
}

table.pdf_table > tbody > tr > td {
  border: solid 1.0pt;
  text-align: center;
  padding: 5px;
}

div.text-field, div.signature {
  border-bottom: solid 1.0pt;
  padding: 0 0 1.0pt 0;
  margin-bottom: 10px;
}

div.signature {
  border-bottom-width: 1.5pt;
}

div.signature + p {
  margin-top: -7px;
  margin-bottom: 50px;
}

div.signature + p > span {
  display: block;
  text-align: left;
  float: left;
  font-size: 10.0pt;
  margin-left: 5px;
}

div.signature + p > span + span {
  display: block;
  text-align: right;
  float: right;
  font-size: 10.0pt;
  margin-right: 10px;
}
