/* disable number field arrows*/
.time_sheet_form input[type=number] {
    -moz-appearance:textfield;
}

.time_sheet_form input[type=number]::-webkit-inner-spin-button,
.time_sheet_form input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.time_sheet_form td>.form-control[readonly] {
  cursor: auto !important;
  background-color: inherit !important;
}

.time_sheet_form td {
  text-align: center;
  position: relative;
}

.time_sheet_form th {
  text-align: center;
}

.time_sheet_form td.notes {
  text-align: left !important; 
}

.time_sheet_form span.helper-btns {
  display:none;
  width: 75px;
  position: absolute;
  left: -75px;
  height: 35px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  top: 0px;
  background-color: #f5f5f5;
  padding-right: 5px;
}

.time_sheet_form span.helper-btns > .btn-xs {
  margin-top: 5px;
  /*line-height: 1.2;*/
  /*font-size: 16px;*/
}

.time_sheet_form tr:hover span.helper-btns {
  display:block;
}

.time_sheet_form tr.work_day_tr select {
  height: 28px;
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: transparent;
  border-color: transparent;
  border-bottom: 1px solid #ccc;
}