<%- model_class = Expense -%>
<h1><%=t '.title', default: [:'helpers.titles.edit', 'Edit %{model}'], model: model_class.model_name.human.titleize %></h1>
<%= render 'form' %>

<%= link_to t('helpers.links.back'), expenses_path %>
