<h1>Editing Travel Expense Report</h1>

<%= render 'form' %>

<%= link_to 'Show', trip_travel_expense_report_path(@trip,@travel_expense_report), :class => "btn btn-primary" %> |
<%= link_to 'Back', trip_travel_expense_reports_path(@trip), :class => "btn btn-primary" %>
