<%- model_class = WorkDay -%>
<div class="col-md-12">
  <div class="display">
    <div class="page-header">
      <h1>
        <div class="row">
          <div class="col-sm-9">
            <%=t '.title', default: [:'helpers.titles.new', 'New %{model}'], model: model_class.model_name.human.titleize %>
          </div>
          <div class="col-sm-3">
            <%= link_to t('helpers.links.back'), root_path , class: "btn btn-default btn-block"%>
          </div>
        </div>
      </h1>
    </div>
    <%= render 'form' %>
  </div>
</div>
